{% extends "stentor/unsubscribe.html" %}

{% block stentor_unsubscribe_form %}
  <h2>Unsubscribe form</h2>
  {{ block.super }}
  <br>
  <label for="stentor-ajax-request">
    <input id="stentor-ajax-request" type="checkbox" name="ajax" value="1">
    Do an AJAX request
  </label>
{% endblock stentor_unsubscribe_form %}


{% block body_end %}
  <script>
    jQuery(document).ready(function($){
      var $form = $('#stentor-unsubscribe-form');

      $form.find('input').removeAttr('required');
      $form.on('submit', function(e){
        if (!$('#stentor-ajax-request').prop('checked')) {
          return;
        }
        e.preventDefault();
        var data = $form.serialize();

        $.ajax('{{ unsubscribing_subscriber.get_unsubscribe_url }}', {
          method: 'POST',
          data: data
        })
        .done(function(data) {
          console.log('SUCCESS', data);
          $form.html(data.html);
        })
        .fail(function(data, status) {
          console.log('FAILURE', data);
          $form.html(data.responseJSON.html);
        });
      });
    });
  </script>
{% endblock body_end %}
