{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>

  {{ form.media }}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
    &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">
    {{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% trans 'Choose sending date' %}
  </div>
{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div>
      {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
      {% endfor %}
    </div>

    <h2>{% trans "Newsletters" %}</h2>
    <p>{% trans "The selected newsletters will be scheduled for sending at the chosen date:" %}</p>
    <ul>{{ newsletters|unordered_list }}</ul>

    <div class="submit-row">
      <input type="hidden" name="action" value="schedule_sending"/>
      <input type="submit" name="add" class="default" value="{% trans 'Choose sending date' %}"/>
      <p class="deletelink-box">
        <a class="deletelink" href=".">{% trans "Cancel" %}</a>
      </p>
    </div>
  </form>
{% endblock %}
