{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
    &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">
    {{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% trans 'Add multiple subscribers' %}
  </div>
{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div>
      {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
      {% endfor %}
    </div>

    <h2>{% trans "Mailing lists" %}</h2>
    <p>{% trans "The emails you enter will be added to the following mailing lists:" %}</p>
    <ul>{{ mailing_lists|unordered_list }}</ul>

    <div class="submit-row">
      <input type="hidden" name="action" value="add_multiple_subscribers"/>
      <input type="submit" name="add" class="default" value="{% trans 'Add subscribers' %}"/>
      <p class="deletelink-box">
        <a class="deletelink" href=".">{% trans "Cancel" %}</a>
      </p>
    </div>
  </form>
{% endblock %}
